@model NubeSalesMVC.Models.ViewModels.ReceberFormViewModel

@{
    ViewData["Title"] = "Delete";
    ViewData["Tipo"] = Model.Receber.CarregaSituacao(Model.Receber.IdTipo);
}

<h2>Exclusão</h2>

<h3>Deseja realmente excluir este registro?</h3>
<div>
    <h4>Conta a Receber</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Receber.PessoaId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receber.Pessoa.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Receber.CategoriaId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receber.Categoria.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Receber.DtaMovimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receber.DtaMovimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Receber.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receber.Valor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Receber.CategoriaId)
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model.Receber.Categoria.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Receber.Observacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receber.Observacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Receber.Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="FilteredIndex">Voltar a lista</a>
    </form>
</div>
