@model IEnumerable<NubeSalesMVC.Models.Receber>

@{
    ViewData["Title"] = "Index";

}

<h2>Lista de Contas a Receber</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Criar novo</a>
    <a asp-controller="RelRecebers" asp-action="Index" class="btn btn-default">Relatório</a>
</p>
<div class="panel-body">
    <table class="table table-striped table-hover">
        <thead>
            <tr class="navbar-default">
                <th style="color:white">
                    @Html.DisplayNameFor(model => model.PessoaId)
                </th>
                <th style="color:white">
                    @Html.DisplayNameFor(model => model.IdTipoReceita)
                </th>
                <th style="color:white">
                    @Html.DisplayNameFor(model => model.DtaMovimento)
                </th>
                <th style="color:white">
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th style="color:white">
                    @Html.DisplayNameFor(model => model.IdTipo)
                </th>
                <th style="color:white">
                    @Html.DisplayNameFor(model => model.Observacao)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pessoa.Name)
                    </td>
                    <td>
                        @{
                            ViewData["TipoReceita"] = item.CarregaTipoReceita(item.IdTipoReceita);
                        }
                        @ViewData["TipoReceita"]
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DtaMovimento)
                    </td>
                    <td>
                        R$ @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @{
                            ViewData["Tipo"] = item.CarregaSituacao(item.IdTipo);
                        }
                        @ViewData["Tipo"]
                    </td>
                    <td style="font-size:smaller">
                        @Html.DisplayFor(modelItem => item.Observacao)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>