@model NubeSalesMVC.Models.Pessoa

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Cliente/Credor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdFinReceber)
        </dt>
        <dd>
            @{ if (Model.IdFinReceber == true)
                {
                    ViewData["Cliente"] = "Sim";
                }
                else { ViewData["Cliente"] = "Não"; }
            }
            @ViewData["Cliente"]
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdFinPagar)
        </dt>
        <dd>
            @{ if (Model.IdFinPagar == true)
                {
                    ViewData["Credor"] = "Sim";
                }
                else { ViewData["Credor"] = "Não"; }
            }
            @ViewData["Credor"]
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar a lista</a>
</div>
