@model NubeSalesMVC.Models.ViewModels.PagarFormViewModel

@{
    ViewData["Title"] = "Details";
    ViewData["Tipo"] = Model.Pagar.CarregaSituacao(Model.Pagar.IdTipo);
}

<h2>Detalhes</h2>

<div>
    <h4>Conta a Pagar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pagar.PessoaId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pagar.Pessoa.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pagar.CategoriaId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pagar.Categoria.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pagar.DtaMovimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pagar.DtaMovimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pagar.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pagar.Valor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pagar.IdTipo)
        </dt>
        <dd>
            @ViewData["Tipo"]
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pagar.Observacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pagar.Observacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Pagar.Id">Editar</a> |
    <a asp-action="FilteredIndex">Voltar a lista</a>
</div>
