@model PaginatedList<NubeSalesMVC.Models.Pagar>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de Contas a Pagar</h2>


<p>
    <a asp-action="Create" class="btn btn-default btn-sm">Criar novo</a>
    <a asp-controller="RelPagars" asp-action="Index" asp-route-tipoRel="G" class="btn btn-default btn-sm">Relatório</a>
    <label style="font:bolder; color:red">@ViewData["MsgAlerta"]</label>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <label style="font-size: smaller"> Situação:</label>
        <select asp-for="@ViewData["Situacao"]" asp-items=ViewBag.ListaSituacao value="@ViewData["Situacao"]" name="situacao"></select>
        <label style="font-size: smaller">Período: </label>
        <input type="date" name="minDate" value="@ViewData["minDate"]" />
        <label style="font-size: smaller"> a </label>
        <input type="date" name="maxDate" value="@ViewData["maxDate"]" />
        <label style="font-size: smaller">Procurar por nome : </label> <input type="text" name="filtro" value="@ViewData["filtroAtual"]" />
        <input type="submit" value="Filtrar" class="btn btn-primary btn-sm" /> |
        <a class="btn btn-link btn-sm" asp-controller="Pagars" asp-action="Index">Retornar para lista</a>
    </div>
</form>
<div class="panel-body">
    <table class="table table-striped table-hover">
        <thead>
            <tr class="navbar-default" style="color:white">
                <th style="color:white">
                    Credor
                </th>
                <th>
                    Tipo Despesa
                </th>
                <th>
                    <a style="color:white"
                       asp-action="Index"
                       asp-route-ordem="@ViewData["NomeParm"]"
                       asp-route-filtroAtual="@ViewData["filtroAtual"]">
                        Vencimento
                    </a>
                </th>
                <th>
                    Valor
                </th>
                <th style="color:white">
                    Situação
                </th>
                <th>
                    Observação
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="font-size:smaller">
                    <td>
                        @Html.DisplayFor(modelItem => item.Pessoa.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DtaMovimento)
                    </td>
                    <td align="right">
                        R$ @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @{
                            ViewData["Tipo"] = item.CarregaSituacao(item.IdTipo);
                        }
                        @ViewData["Tipo"]
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Observacao)
                    </td>
                    <td>
                        <!-- Opções -->
                        <div class="btn-group dropright">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer">
                                <span class="glyphicon glyphicon-menu-hamburger"></span>
                            </a>
                            <div class="dropdown-menu">
                                <a class="btn btn-link" asp-action="Edit" asp-route-id="@item.Id" asp-controller="Pagars">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    Editar
                                </a>
                                <a class="btn btn-link" asp-action="Details" asp-route-id="@item.Id" asp-controller="Pagars">
                                    <span class="glyphicon glyphicon-zoom-in"></span>
                                    Consultar
                                </a>
                                <a class="btn btn-link" asp-action="Delete" asp-route-id="@item.Id" asp-controller="Pagars">
                                    <span class="glyphicon glyphicon-trash"></span>
                                    Excluir
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    ViewData["pagAtual"] = Model.PageIndex;
}

<a asp-action="Index"
   asp-route-ordem="@ViewData["ordemAtual"]"
   asp-route-pagina="@(Model.PageIndex - 1)"
   asp-route-filtroAtual="@ViewData["filtroAtual"]"
   asp-route-minDate="@ViewData["minDate"]"
   asp-route-maxDate="@ViewData["maxDate"]"
   asp-route-situacao="@ViewData["situacao"]"
   class="btn btn-sm btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-ordem="@ViewData["ordemAtual"]"
   asp-route-pagina="@(Model.PageIndex + 1)"
   asp-route-filtroAtual="@ViewData["filtroAtual"]"
   asp-route-minDate="@ViewData["minDate"]"
   asp-route-maxDate="@ViewData["maxDate"]"
   asp-route-situacao="@ViewData["situacao"]"
   class="btn btn-sm btn-default @nextDisabled">
    Próximo
</a>
